.Layout {
  width: 100vw;
  height: 100vh;
  background-color: rgb(243, 188, 188);
  &__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__Main {
    min-width: 900px;
    // height: 500px;
    & > span {
      width: 100%;
      padding: 0 0 0 30px;
      font-size: 25px;
      font-weight: 100;
      color: rgb(255, 255, 255);
    }
    & > span:nth-child(2) {
      padding: 0 0 0 5px;
      font-weight: 800;
    }
  }
  &__TimeLine {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
    border-radius: 15px;
    list-style: none;

    & > li:first-child {
      padding: 10px;
      margin: 0 10px 20px 10px;
      border-bottom: 1px solid rgb(231, 199, 199);
      border-radius: 0;
      & > input {
        width: 150px;
        height: 33px;
        padding: 0 0 0 10px;
        margin: 10px 0 0 15px;
        border-radius: 8px;
        border: 1px solid rgb(209, 152, 129);
        outline-style: none;
      }
    }
  }
  &__Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 10px;
    margin: 5px 15px;
    background-color: #fff;
    border: 1px solid rgb(230, 185, 167);
    border-radius: 12px;
    &:hover {
      border: 1px solid rgb(6, 99, 153);
    }
    &:hover > div > div > span:first-child {
      color: rgb(6, 99, 153);
    }
    &:hover > div:nth-child(3) > a {
      background-color: rgb(6, 99, 153);
    }
    &:hover > div:first-child > div > span > a > i {
      color: rgb(6, 99, 153);
    }
    & > div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      & > div {
        & > span:first-child {
          font-size: 18px;
          font-weight: 700;
          padding-right: 10px;
          border-right: 1px solid rgb(212, 156, 156);
          & > a {
            padding: 0;
            margin: 0;
            color: rgb(230, 185, 167);
            & > i {
              cursor: pointer;
              padding-left: 10px;
              font-size: 14px;
            }
          }
        }
        & > span:not(:first-child) {
          padding: 0 0 0 20px;
          font-size: 14px;
        }
      }
      & > span {
        color: rgb(214, 94, 94);
      }
    }
  }
  &__Commits {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    & > a {
      cursor: pointer;
      position: relative;
      z-index: 0;
      width: 10px;
      height: 10px;
      margin-right: 3px;
      color: rgb(73, 73, 73);
      background-color: rgb(235, 150, 150);
      border-radius: 2px;
      &:hover > ul {
        visibility: visible;
      }
    }
  }
  &__CommitInfo {
    position: absolute;
    z-index: 100;
    top: -100px;
    left: 0;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(6, 99, 153);
    border-radius: 8px;
    filter: drop-shadow(4px 5px 4px rgba(128, 114, 114, 0.3));
    list-style: none;
    visibility: hidden;
    & > li {
      font-size: 14px;
    }
    & > li:first-child {
      color: rgb(204, 85, 85);
    }
  }
  &__ButtonGenerate {
    width: 81px;
    height: 36px;
    margin: 0 0 0 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 188, 188);
    border: none;
    border-radius: 8px;
    outline-style: none;
    &:hover {
      opacity: 0.8;
    }
  }
  &__ButtonDelet {
    width: 81px;
    height: 36px;
    margin: 0 0 0 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(121, 121, 121);
    border: none;
    border-radius: 8px;
    outline-style: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
